**/.coverage*
**/.env/*
**/.hypothesis/*
**/.mypy_cache/*
**/.pyc/*
**/.pytest_cache/*
**/.ruff_cache/*
**/.venv/*
**/__pycache__/*
**/aiootp/db/*
**/aiootp/tor/*
**/aiootp.egg-info/*
**/build/*
**/dist/*
**/docs/*
**/env/*
**/htmlcov/*
**/logs/*
**/venv/*
