recursive-include licenses *
recursive-exclude aiootp/tor *
recursive-exclude aiootp/databases *
include LICENSE
include setup.py
include setup.cfg
include .gitignore
include FAQ.rst
include logo.png
include README.rst
include PREADME.rst
include CHANGES.rst
include MANIFEST.in
include SIGNATURE.txt
include aiootp/__ui_coordination.py
include aiootp/__aiocontext.py
include aiootp/__async_lru.py
include aiootp/__datasets.py
include aiootp/__init__.py
include aiootp/_containers.py
include aiootp/_exceptions.py
include aiootp/_typing.py
include aiootp/commons.py
include aiootp/asynchs.py
include aiootp/paths.py
include aiootp/debuggers.py
include aiootp/generics.py
include aiootp/gentools.py
include aiootp/randoms.py
include aiootp/ciphers.py
include aiootp/keygens.py
include aiootp/tor/README_TOR.rst
include aiootp/databases/README_DATABASES.rst
include tests/init_tests.py
include tests/test_aiootp.py
include tests/test_generics.py
include tests/test_BytesIO.py
include tests/test_Comprende.py
include tests/test_misc_in_generics.py
include tests/test_randoms.py
include tests/test_misc_in_randoms.py
include tests/test_ciphers.py
include tests/test_Database_AsyncDatabase.py
include tests/test_Ropake.py
include tests/test_StreamHMAC.py
include tests/test_X25519_Ed25519.py
include tests/test_high_level_encryption.py
include tests/test_misc_in_ciphers.py
include tests/test_passcrypt_apasscrypt.py
recursive-exclude docs *
recursive-exclude tests/htmlcov *

